* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #e0e0e0;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

ul > li {
  font-size: large;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #e0e0e0;
}
.logo {
  color: #e0e0e0;
  font-size: x-large;
  font-weight: bolder;
}

.navbar {
  height: 80px;
  background-color: #212121;
}
nav .container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.hero {
  background-color: #212121;
  min-height: 400px;
  display: flex;
}

h1,
h2,
h3,
p {
  color: #e0e0e0;
}

.hero-section-image {
  display: flex;
  min-width: 200px;
  height: 200px;
  color: #e0e0e0;
  border: 2px solid white;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
}
.hero > .container {
  flex: 1;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  flex-wrap: wrap;
  gap: 16px;
}

.phrase-signup {
  display: flex;
  flex-basis: 400px;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.phrase-signup > h1 {
  font-size: 48px;
}
.phrase-signup p {
  font-size: 18px;
  color: #cecdcd;
}

.signup {
  padding: 8px 32px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  background-color: #e0e0e0;
}
.content-one {
  /* background-color: #212121; */
  min-height: 400px;
  display: flex;
}

.container-one {
  flex: 1;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  flex-wrap: wrap;
  gap: 32px;
}

.card-title {
  color: #212121;
}
.cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.box {
  height: 200px;
  width: 100%;
  /* background-color: #cecdcd; */
  border: 2px solid #212121;
  border-radius: 1rem;
}
.card > p {
  width: 100%;
  text-align: center;
  color: #212121;
}
.quote {
  background-color: #212121;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote > .container {
  flex: 1;
  max-width: 1200px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text > h2,
p {
  color: #212121;
}
.card-big {
  background-color: #212121;
  max-width: 1200px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 100px;
  flex-wrap: wrap;
  gap: 16px;
  border-radius: 5px;
  min-height: 150px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.text > h2,
p {
  color: #cecdcd;
}
.explore {
  padding: 5px 12px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 700;
}

.end {
  height: 60px;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end > h3 {
  font-size: small;
}
